<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.knime.rest.authentication">
      <AuthenticateEachRequest
            class="org.knime.rest.internals.NTLMAuthentication"
            deprecated="false"
            name="NTLM">
      </AuthenticateEachRequest>
   </extension>
</plugin>
